body
   {background-color:#F19202;}
h1
   {color:#0d0d0d;}
   {text-align:center;}
   {font-size:100px;}
h2 
   {color:#0d0d0d;} 
h3 
   {color:#0d0d0d;} 
h4
   {color:#0d0d0d;}
p
   {color:#0d0d0d;}   


.Navbar
ul
 {list-style-type:none;
  margin: 1;
  padding: 0;
  overflow: hidden;
  background-color: #F19202;}

li 
 {float: left;
  list-style-type:none;}

li a {display: inline-block;
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 10px 10px;
text-decoration: none;}
  

li a:hover { background-color: white;}